
	
#container{ 
	width:100%;
	height:94%;
	background-position:center;
	background-image:url('imagens/bg.jpg');	
	background-color:#fff;
	margin-left: auto;
	margin-right:auto;
	padding-top: 60px;
	overflow:auto;
}	

#logo{
	width:250;
	height:104px;
	background-image:url('imagens/logo.png');
	background-size: 230px;
	background-repeat: no-repeat;
	margin-left:530px;    
}
	
#admin{

	width: 120;
	height: 10px;
	position: absolute;
	left: 1240px;
	top: 150px;
}

a{
	text-decoration: none;
}

#Loginform{
	
	width: 550px;
    padding: 20px;
    background: #f0f0f0;
	overflow:auto;
    margin-left: auto;
    margin-right:auto;

    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; 
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
}
	
#cadastroform {
    width: 800px;
    padding: 20px;
    background: #f0f0f0;
	overflow:auto;
    margin-left: auto;
    margin-right:auto;

    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; 
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
 
    }
	
	label {
    font-family: Arial, Verdana;
    text-shadow: 2px 2px 2px #ccc;
    display: block;
    float: left;
    font-weight: bold;
    margin-right:10px;
    text-align: right;
    width: 120px;
    line-height: 25px;
    font-size: 12px;
    }
    
    label.let{
        font-size: 20px;
    }
	
	.input{
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 300px;
    color: #797979;
    }
	
	.info{
    display:none;
    }
	
	.termos{
	font-size: 14px;
	font-weight: bold;
    }
	
	.obrigatorio{
    color: red;
	font-size: 20px;
    }
	
	.campo:hover .info {
    position: absolute;
    display: block;
    margin: -30px 0 0 455px;
    color: #FFFFFF;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.6);

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    }
	
	.botao{
    float: right;
    margin:10px 55px 10px 0;
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    cursor:pointer;
    color: #fff;
 
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
 
    /* Background gradient */
    background: #a5b8da;
    background: -moz-linear-gradient
       (top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient
       (linear, 0% 0%, 0% 100%,
       from(#a5b8da), to(#7089b3));
 
    /* Border style */
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
    /* Box shadow */
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
 
    }
	
	#separador
	{
		border-bottom: 1px solid rgb(196, 196, 196);
	}
	
	#divRodape{
		height: 30px;
		width: 100%;
		clear: both;
		top: 93%;
		text-align: center;
		bottom: 0;
		position: absolute;
		line-height: 25px;
		font-family: Arial, Verdana;
		text-shadow: 2px 2px 2px #ccc;
		font-size: 14px;
	}
        
#corpoRecibo{
	
	margin: 0% 5% 0% 5%;
	
	
}

#nota{
	float: right;
	overflow:auto;
	margin-left: auto;
	margin-right:60px;
	margin-top: -540px;
	background:#fefabc;
	padding:15px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:15px;
	color: #000;
	width:300px;
	-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;

}
		
#Mensg{
	color: red;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	left: 75px;
}

.msgErro{
   color: red;
   font-size: 10pt;
   position: absolute;
   left: 680px;
}
